<div class="padding">

  <h1 class="mb-5">Connexion</h1>

  <%= form_tag '/login' do %>
    <%= label_tag :Pseudo%><br>
    <%= text_field_tag :username %><br>
    <%= label_tag :Password%><br>
    <%= password_field_tag :password%><br>
    <%= submit_tag "Connexion", class:"btn btn-primary btn-lg border border-dark p-3 mt-4 me-3 mb-3" %>
  <%end%>

</div>
