<div class="container padding">

  <div class="row mb-5">

    <div class="col-12 col-md-5">
      <%= image_tag(@robot.image, class: "img-fluid") %>
    </div>

    <div class="col-12 col-md-5">
      <h2> <%= @robot.intro %> </h2>
      <p> <%= simple_format @robot.description %> </p>
    </div>

  </div>

  <div class="row mb-5">

    <div class="col d-flex justify-content-end">
    <%if current_user.try(:admin?)%>
      <%= button_to "Éditer →", edit_robot_path(@robot), method: :get, class:"btn btn-primary btn-lg border border-dark p-3 me-3 mb-3" %>
    <%end%>
      <%= button_to "Accueil →", '/home', method: :get, class:"btn btn-primary btn-lg border border-dark p-3 me-3 mb-3" %>
    </div>

  </div>

</div>
