<div class="container padding">

  <div class="row">

    <div class="col-12 col-md-6"></div>
      <%= image_tag(@robot.image, class: "img-fluid") %>
    </div>

    <div class="col-12 col-md-6"></div>
      <h2> <%= @robot.intro %> </h2>
      <p> <%= @robot.description %> </p>
    </div>

  </div>

  <div>
    <%= link_to 'Edit', edit_robot_path(@robot) %> |
    <%= link_to 'Back', robots_path %>
  </div>
</div>
