<div class="container padding">

  <div class="row">

    <div class="col-md-6">
      <%= image_tag(@robot.image, class: "img-fluid") %>
    </div>

    <div class="col-md-6">
      <h2> <%= @robot.intro %> </h2>
      <p> <%= @robot.description %> </p>
    </div>

  </div>

  <div class="row">
    <%= link_to 'Edit', edit_robot_path(@robot) %>
    <%= link_to 'Back', robots_path %>
  </div>

</div>
