<div class="bg-light container header hover-none">

  <div class="row py-3 d-flex justify-content-between">

    <div class="col-3 col-md-1">
      <% if logged_in? %>
        <%= link_to image_tag("logo.png", class: "img-fluid"), "/home"%>
      <% else %>
        <%= link_to image_tag("logo.png", class: "img-fluid"), "/welcome"%>
      <%end%>
    </div>

    <div class="col-5 col-md-2 d-flex justify-content-end align-items-center">
      <% if logged_in? %>
        <p><%= current_user.username.upcase %></p>
        <%= link_to image_tag("logout.svg", class: "img-fluid"), logout_path, method: "delete" %>
      <% else %>
        <%= link_to image_tag("logout.svg", class: "img-fluid"), '/login', method: :get %>
      <%end%>
    </div>

  </div>

</div>
